@page 
@model UniversidadCRUD.Pages.Alumnos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Añadir nuevo</a>
</p>

<form>
    <p>
        Nombre: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Alumno[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno[0].Matrícula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno[0].Carrera)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno[0].Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alumno[0].Ciclo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Alumno) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matrícula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carrera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Ciclo)
             </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
